# Ignore Node engine checks during install as we have semantic-release using a different Node version >= 22; semantic-release is only used for publishing and does not affect the plugin runtime.

ignore-engines true
